.activeG {
    border: 2px solid rgb(55, 231, 55);
}

.activeR {
    border: 2px solid red;
}

.deactive {
    border: 2px solid transparent;
}

.greenBG {
    background-color: rgb(0, 255, 0);
}

.redBG {
    background-color: red;
}
.greenTEXT {
    color: rgb(55, 231, 55);
}

.redTEXT {
    color: red;
}